:root {
    --purple: #3D2683;
    --white: #fafaf8;
}

@media(prefers-reduced-motion) {
    .screen {
        transition: none;
    }

    .historytext {
        transition: none;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

#toggle {
    display: none;
}

#topbar label {
    visibility: hidden;
}

.screen {
    transition: all 0.5s;
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
}


.animatedscreen {
    background-color: black;
    background-image: radial-gradient(var(--purple), black 120%);
    width: 75%;
    border-radius: 19px;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    z-index: 0;
    filter: blur(0px);
    transform: translateX(0);
}

.animatedscreen h1 {
    color: var(--white);
    display: flex;
    font-family: 'Lucida Grande', sans-serif;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.animatedscreen h1 span {
    color: var(--white);
    animation: blink 1s infinite normal;
}

.historytext {
    font-size: 1.5rem;
    margin: 0 auto;
    width: 75%;
    border: 5px dashed var(--purple);
    transition: all 1s;
    opacity: 0;
    filter: blur(10px);
}

.animatedhistorytext {
    border: 5px dashed var(--purple);
    color: var(--purple);
    font-family: 'Lucida Grande', sans-serif;
    font-size: 1.5rem;
    margin: 0 auto;
    width: 75%;
    margin-top: 2rem;
    text-align: center;
    border-radius: 19px;
    opacity: 1;
    filter: blur(0px);

}

#mainaxiscolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





.menu {
    display: flex;
    flex-direction: row;
    background-color: var(--purple);
    justify-content: space-evenly;
    position: sticky;
    top: 6.5rem;
    z-index: 1;
}

.menu a {
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.menu a:hover {
    color: grey;
    text-decoration: none;
}



#toggle:checked~.menu {
    display: block;
}

#topbar {
    display: flex;
    flex-direction: row;
    background-color: var(--white);
}

#test {
    position: sticky;
    top: 0;
    z-index: 1;
}

#topbar>img {
    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 5rem;
    height: 5rem;
    margin-bottom: 10px;
}

#topbar>p {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    font-size: 0.75rem;
    font-weight: 550;
    color: var(--purple);
    font-family: 'Roboto', sans-serif;
}

.separator {
    border: 1px solid var(--purple);
}

footer {
    display: flex;
    background-color: var(--purple);
    color: var(--white);
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    justify-content: center;
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>div>div {
    display: flex;
    flex-direction: row;
}

footer img {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
}

footer p {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    font-size: 0.75rem;
    font-weight: 550;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

}

footer a {
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 550;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
}



@media only screen and (max-width: 600px) {
    label {
        display: block;
        cursor: pointer;
        visibility: visible !important;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: var(--purple);
        position: sticky;
        z-index: 1;
        top: 7rem;
    }

    .menu a {
        display: block;
        color: var(--white);
        border-bottom: 1px solid var(--white);
        padding: 25px;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }

    #toggle:checked+.menu {
        display: block;
    }


    label img {
        cursor: pointer;
        display: block;
        width: 50px;
        position: absolute;
        right: 0;
        margin-top: 2rem;
        margin-right: 0.5rem;
    }

    #historytext {
        width: 80%;
        font-size: 1rem;
    }


}