:root {
    --purple: #3D2683;
    --white: #fafaf8;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#toggle {
    display: none;
}

#topbar label {
    visibility: hidden;
}


.menu {
    display: none;
}

.menu a {
    display: block;
    border-bottom: 1px solid black;
    margin: 0;

}

#toggle:checked~.menu {
    display: block;
}

#topbar {
    display: flex;
    flex-direction: row;
}

#topbar>img {
    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 5rem;
    height: 5rem;
}

#topbar>p {
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    font-size: 0.75rem;
    font-weight: 550;
    color: var(--purple);
    font-family: 'Roboto', sans-serif;
}

.separator {
    border: 1px solid var(--purple);
    margin-top: 10px;
}



@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        visibility: visible !important;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: var(--purple);
    }

    .menu a {
        display: block;
        color: var(--white);
        border-bottom: 1px solid var(--white);
        margin-top: 50px;

    }

    #toggle:checked+.menu {
        display: block;
    }

    label img {
        cursor: pointer;
        display: block;
        width: 50px;
        position: absolute;
        right: 0;
        margin-top: 2rem;
        margin-right: 0.5rem;
    }
}